#ib {
  display:inline-block;
  vertical-align: top;
}

#firefoxstylediv {
  display: inline-block;
}

#b1, #b2, #b3, #element, #undo, #periodic-button {
  vertical-align:top
}

#b1 {
  margin-left: 50px;
}


#undo {
  font-size:10px;
  float:left;
  margin-left:23px;
}

#rc {
  display: inline-block;
  width:250px;
  text-align:center;
}

#rc span {
  font-size: 10px;
  vertical-align: top;
}

#periodic-table {
  visibility: hidden;
  position: absolute;
  width:662px;
  height:255px;
  left: 7px;
  top: 50px;
  border: 1px solid lightgrey;
  padding: 3px;
  background-color: rgb(241, 241, 241);
}

sup {
  font-size:10px;
}

table sup {
  float:left;
}


table {
  border-spacing: 1px;
  float:right;
}

td {
  border: 1px solid lightgrey;
  padding-top:0;
  text-align:center;
  cursor: default;
  background-color: rgb(223, 223, 223);
}

td:hover {
  background-color: rgb(243, 243, 243);
}

#periodic-close {
  border:none;
  float:right;
}

#periodic-close:hover {
  background-color: highlight;
}

svg {
  pointer-events: auto;
  /*cursor: url(images/C.png), default;*/
  cursor: default;
  border: 1px solid lightblue;
  
  
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  
}

path {
  stroke: rgba(0, 0, 0, 0.8);
  
  /*width:150%;
  height:150%*/
  stroke-width: 1px;
}

rect {
  fill:transparent;  
  pointer-events: all;
}

rect:hover {
  stroke: rgba(255, 0, 0, 0.9);
}

#selecting {
  stroke: rgba(0, 50, 255, 0.9);
}

text {
  font-family: /*Utsaah,*/monospace;
  font-size: 16px;
  fill: rgba(0, 0, 0, 1.0);
  /* cursor: default; */
  /*dominant-baseline:central;
  text-anchor: middle;*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


circle {
  fill:black;
}

circle:hover {
  /*fill: rgba(0, 0, 255, 0.1);
  visibility:visible;*/
}

#ghosts path {
  stroke: rgba(0, 235, 255, 0.4);
}

/*higher specificity*/
#target path {
  stroke: rgba(255, 0, 0, .1);
}

#ghosts #target path {
  stroke: rgba(0, 235, 255, 0.6);
}

#target circle {  
  stroke: rgba(0, 0, 255, 0.5);
  fill: transparent;
  visibility: visible;
}

#ghosts #target circle {
  visibility: hidden;
}

#target circle:hover {
  fill: rgba(0, 0, 255, 0.2);
}